@import './utils.scss';

.App {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;	
	cursor: pointer;
	
	.box {
		background: red;
		cursor: pointer;
		transition: all 0.5s ease-in;
		@include square(1);
	
		&.red {
			background: $red;
			@include square(2);
		}
		
		&.blue {
			background: $blue;
			@include square(3);
		}
		
		&.orange {
			background: $orange;
			@include square(4);
		}
		
		&:hover {
			background: black;
		}
	}
}

