@import './utils.scss';

.App {
	background: $yellow;
	display: flex;
	opacity: 0.8;
	
	.box {
		text-align: center;
		color: white;
		cursor: pointer;
		transition: all ease-in 0.5s;
		
		@include square(1);
		
		&.red {
			background: $red;
			@include square(2);
		}
		
		&.blue {
			background: $blue;
			@include square(3);
		}
		
		&.orange {
			background: $orange;
			@include square(4);
		}
		
		&:hover {
			background: rgba(255, 255, 255, 0.5);
		}
	}
}